/AutocorrelationI.class
/CategoricalFeature.class
/Feature.class
/KeyFeature.class
/MoranIndex.class
/NumericFeature.class
/ResubstitutionIndex.class
/ResubstitutionIndexOnGetisOrd.class
/SpatialFeature.class
